@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}
input::-webkit-inner-spin-button {
  appearance: none;
}
input:focus {
  outline: 0px;
}
Button{
  transition: ease-in-out 0.1s;
}
Button:hover{
  opacity: 85%;
}
Button:active{
  scale: 0.93;
}